*.pyc
*.pyo
*.log
*.zip
.coverage
.vscode
tests/run
tests/keys/random_seed
docs/_build
docs/themes
.dict-validwords
watcher.conf
MANIFEST
distlib-vcsid
*cover*
tests/passwords
tests/keys
tests/pypi-server-standalone.py
tests/minimext/*.egg-info
tests/minimext/.venv*
tests/minimext/minimext/*.pyd
tests/minimext/minimext/*.so
tests/minimext/wheels
dist
htmlcov
build
.tox
.idea
_testdist-0.1
