*.pyc
*.pyo
*.log
*.zip
.coverage
tests/run
tests/keys/random_seed
docs/_build
docs/themes
.dict-validwords
watcher.conf
MANIFEST
distlib-vcsid
*cover*
tests/passwords
tests/keys
tests/pypi-server-standalone.py
dist
htmlcov
build
.tox
.idea
_testdist-0.1
