version: 1.0.{build}
image:
  - Visual Studio 2017
  - ubuntu1804
environment:
  PYTHONHASHSEED: 0
  matrix:
  - TOXENV: py27
  - TOXENV: py35
  - TOXENV: py36
  - TOXENV: py37
install:
- cmd: pip install tox
build: off
test_script:
- cmd: tox
