include README.rst CHANGES.rst LICENSE.txt CONTRIBUTORS.txt tox.ini
include distlib/*.exe
recursive-include tests *
recursive-include PC *
global-exclude *.log __pycache__ *.pyc *.pyo
exclude tests/*pypi*
prune tests/pypiserver
prune tests/packages
exclude tests/passwords
