include README.rst CHANGES.rst LICENSE.txt CONTRIBUTORS.txt
include distlib/_backport/sysconfig.cfg distlib/*.exe
recursive-include tests *
global-exclude *.log __pycache__ *.pyc *.pyo
exclude tests/*pypi*
prune tests/pypiserver
prune tests/packages
exclude tests/passwords
